# Frontend API
VITE_API_BASE=http://localhost:8080

# ImageKit (safe values for client)
VITE_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/toptruyen
VITE_IMAGEKIT_PUBLIC_KEY=public_xxxxxxxxxxxxxxxxxxxxx
